@tailwind base;
@tailwind components;
@tailwind utilities;


.contenedor_habilidades{
  max-width: 70%;
  margin: auto;
  margin-top: 5rem;
  
}
.imagenes{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  
}
@media (max-width: 680px) {
  .imagenes{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* body {
  background-image: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
} */

@media (400px <= width <= 768px) {
  .footer{
   display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}
@media (min-width: 768px) {
  .nombre{
  text-align: start;
    
    
  }
}